.buttonGroup {
  display: flex;
  justify-content: center; 
  gap: 1rem;               
  margin-top: 2rem;        
}

.buttonGroup button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.header {
    color: #ffcc66;
    font-size: 100px;
}