@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waiting+for+the+Sunrise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

:root {
  --yellow: #ffcc66;
  --purple: #330033;
  --white: #ffffff;
  --gray-blue: #817e9f;
  --dark-blue: #002033;
}

/* Scrollbar style */
::-webkit-scrollbar-track {
  background: rgb(9, 9, 9);
}

::-webkit-scrollbar-thumb {
  background-color: #4b4552;
  border-radius: 1rem;
  transition: background 0.25s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #635b6a;
}

::-webkit-scrollbar-thumb:active {
  background-color: #82768c;
}

::-webkit-scrollbar {
  width: 1rem;
}

/* Main styles for pages */
html {
  height: 100%;
  background-color: #002033;
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: #ddd;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #002033;
}

main {
  overflow-x: hidden;
}

/*Navbar Style Rules*/
#navbar {
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: normal;
  font-family: 'Lato', sans-serif;
  text-align: left;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #001825;
  border-bottom: 2px solid #ffcc66;
  /* padding-right: 2rem; */
  padding-left: 0;
  z-index: 100;
}

/*Transparent background and backdrop blur for navbar*/
/*
@supports((-webkit-backdrop-filter: (blur(1px))) or (backdrop-filter: blur(1px))) {

	#navbar,
	.dropdown,
	.charDropbtn {
		background: rgba(0, 32, 51, 0.5);
		/*backdrop-filter: blur(1px);*/
/*I have no intention of throwing shade, but I'm 60% sure this noticeably hurts the performance of the page*/
/*At the very least it should be toned down to like 2px so the effect is actually noticable*/

#navbar nav {
  display: flex;
  justify-content: flex-start;
}

/*Navbar link and dropdown button*/
#navbar a {
  padding-left: 2rem;
  padding-right: 2rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transition: all 0.15s ease-in-out;
  padding: 1rem;
}

#navbar .navbar-generic,
#navbar .charDropbtn {
  color: #ffcc66;
}

#navbar .navbar-generic,
.dropdown,
.navbar-changeling {
  border-right: 3px solid #ffcc66;
}

#navbar a:focus,
.dropdown:hover .charDropbtn {
  outline-color: white;
}

.dropHeader {
  background-color: transparent;
}

.charDropbtn:focus {
  outline: none;
}

#navbar a:hover,
.dropdown:hover,
.charDropbtn:hover {
  background-color: var(--gray-blue);
  text-decoration: none;
  color: #330033;
}

#navbar .navbar-changeling:hover img {
  filter: hue-rotate(230deg) saturate(350%) brightness(0.3);
}

#navbar .navbar-changeling:active img {
  filter: hue-rotate(230deg) saturate(50%);
}

#navbar a:active,
.dropdown:active .charDropbtn:active {
  background-color: #330033;
  color: var(--gray-blue);
}

/* References only the first anchor tag that is a direct child of the navbar, otherwise it will hit the dropdown menu */
#navbar nav > a:nth-of-type(1) {
  padding: 0;
  border-left: none;
  background-color: black;
}

#navbar nav > a:nth-of-type(3) {
  margin-left: auto;
}

.logo-img {
  height: 3.5rem;
  width: auto;
  padding: 0.35rem 1.25rem;
}

/* Style The Dropdown Buttons */
.charDropbtn {
  border: none;
  cursor: pointer;
}

.dropdown {
  height: 100%;
  padding: 16px 0;
  background-color: transparent;
}

.caret {
  display: none;
}

/* Links inside the dropdown */
.dropdown-content a {
  border: none;
  border-bottom: 2px solid #ffcc66;
  color: #ffcc66;
  text-decoration: none;
  display: block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  top: 55px;
  right: -78px;
  background-color: rgba(0, 32, 51, 0.5);
  min-width: 355px;
  text-align: center;
}

/* Download button */
#navbar .downloadButton {
  background-color: #ffcc66;
  color: #002033;
  outline: none;
  transition-property: border, color, background-color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  font-size: 1.25rem;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 200px;
}

#navbar .downloadButton:hover {
  color: #330033;
  background-color: var(--gray-blue);
  text-decoration: none;
  /* box-shadow: 0 0 0.3rem 0.3rem #817E9F;
	border-left: none; */
}

#navbar .downloadButton:active {
  background-color: #330033;
  color: var(--gray-blue);
  /* box-shadow: 0 0 0.3rem 0.6rem #330033;
	border-left: none; */
}

/* Hamburger icon for responsive navbar */
.hamburger-button,
.hamburger-close {
  display: none;
  height: 0;
}

#hero-buttons a,
.experience-button {
  display: inline-block;
  text-align: center;
  font-size: x-large;
  width: 180px;
  line-height: 50px;
  color: var(--yellow);
  border: 2px solid var(--yellow);
  background-color: var(--dark-blue);
  transition-duration: 500ms;
}

.experience-button {
  width: 250px;
}

#hero-buttons a:hover,
.experience-button:hover {
  background-color: var(--gray-blue);
  text-decoration: none;
  color: var(--purple);
  transform: scale(1.15);
}

/* Styles the progress bar */
.splide .splide__slide img {
  max-width: 100%;
}

.splide__progress__bar {
  background: #ffcc66;
  height: 5px;
}

#thumbnail-carousel .splide__slide img {
  width: 100%;
  height: auto;
}

.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}

.splide__arrow--next {
  right: -3em;
}

.splide__arrow--prev {
  left: -3em;
}

.footer-content {
  position: relative;
  display: flex;
  z-index: 5;
  justify-content: space-between;
  padding: 3vw;
  color: white;
  background-color: #313131;
}

footer h2 {
  text-align: center;
  text-shadow: 0 0 0.25rem rgba(232, 82, 6, 0.8);
  text-transform: uppercase;
  color: #ffcc66;
}

#footer-logo {
  padding: 0;
  height: 5rem;
  width: auto;
}

#footer-bio {
  max-width: 500px;
}

#bottom-nav {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

#social-media {
  width: 25%;
  min-width: 200px;
}

.media-icons svg {
  fill: white;
}

.media-icons svg:hover {
  fill: #ffcc66;
}

.media-icons img,
.media-icons svg {
  width: 40px;
  height: 40px;
}

#media {
  padding-bottom: 50px;
}

#media h2,
#game-bio h1,
#game-bio h2,
.errorMessage {
  text-align: center;
  text-shadow: 0 0 0.25rem rgba(232, 82, 6, 0.8);
  text-transform: uppercase;
  color: #ffcc66;
}
.errorMessage {
  height: 20vh;
  margin: 40vh auto;
}
#game-bio p,
footer p {
  width: calc(100% * 7 / 8);
  max-width: 60vw;
}

#game-bio p {
  color: #ffcc66;
  margin: 0 auto;
  text-align: center;
}

#bottom-logo-img {
  padding: 0;
  margin-bottom: 10px;
}

#bottom-nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.media-icons {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

#bottom-nav-links {
  flex-direction: column;
}

#bottom-nav-links a {
  color: white;
  text-align: start;
  font-size: large;
}

#bottom-nav-links a:hover {
  color: #ffcc66;
  text-decoration: underline;
}

h3 {
  font-size: 65px;
  text-align: center;
  color: #ffcc66;
  max-width: 270px;
  margin: 0 auto;
  font-style: bold;
  font-family: 'Tangerine', cursive;
  text-shadow: 2px 2px 5px black;
}

h4 {
  color: #ffcc66;
  margin-bottom: 1em;
}

/* Responsive navbar */
@media screen and (max-width: 730px) {
  /* General Navbar */
  #navbar {
    position: fixed;
    width: 100%;
    text-align: left;
    transition-property: opacity, transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    z-index: 100;
  }

  #navbar::before {
    content: '';
    position: absolute;
    background-color: #00000099;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: block;
    z-index: -1;
  }

  #navbar nav {
    flex-direction: column;
    align-items: center;
  }

  #navbar a,
  .dropdown,
  #navbar .downloadButton {
    display: block;
    font-size: 1.2rem;
    text-align: center;
    width: 90vw;
    height: 3.5rem;
    margin-right: 0.4vw;
    border: none;
  }

  .dropdown-content {
    background-color: rgba(0, 32, 51, 0.8);
  }

  #navbar .navbar-changeling {
    width: 90vw;
  }

  #navbar a:nth-of-type(1) img {
    padding: 1rem;
    height: 5rem;
    border: none;
  }

  #navbar nav > a:nth-of-type(1) {
    border: none;
  }

  #navbar .navbar-generic {
    border: none;
  }

  /* Dropdown */
  .dropHeader {
    display: flex;
  }

  a.charDropbtn {
    margin: 0;
  }

  .caret {
    display: block;
    cursor: pointer;
    width: 30px;
    background-color: #ffcc66;
  }

  .dropdown-content {
    position: relative;
    text-align: center;
    top: 0px;
    right: 0px;
  }

  .dropdown-content a {
    width: 90vw;
  }

  /* Hamburger Button */
  .hamburger-button,
  .hamburger-close {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    display: block;
  }

  .hamburger-button img,
  .hamburger-close img {
    height: 100%;
    width: auto;
  }

  .hamburger-button img {
    transform: scale(0.75);
  }

  .hamburger-close img {
    transform: scale(0.75);
  }

  .hamburger-button {
    color: #ddd;
    background-color: #00000099;
    padding: 0.75rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 5rem;
    height: 5rem;
    text-align: center;
    transition-property: transform;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
  }

  .hamburger-close {
    position: absolute;
    color: #ddd;
    right: 0.5rem;
    top: 0.5rem;
    width: 3rem;
    height: 3rem;
    border: solid white 1px;
  }

  .inactive::before {
    display: none;
  }

  .inactive {
    transform: translateX(-50rem);
  }

  .active {
    opacity: 1;
    transform: translateX(0);
  }

  .inactive .hamburger-button {
    transform: translateX(50rem);
  }

  .active .hamburger-button {
    transform: translateX(-50rem);
  }

  footer,
  #bottom-nav {
    flex-direction: column;
  }

  #bottom-nav-links {
    flex-direction: row;
  }
}

.dropHeader .charDropbtn {
  background-color: transparent;
}

@media screen and (max-width: 800px) {
  #thumbnail-carousel .splide__slide img {
    width: 100%;
    height: auto;
  }

  .footer-content {
    flex-direction: column;
  }

  #bottom-nav {
    width: 100%;
    flex-direction: column;
    margin-bottom: 20px;
  }

  #bottom-nav-links {
    flex-direction: row;
  }

  #social-media {
    width: 45%;
  }
}

/* Adjusting Hamburger Button Size for different screen sizes */
@media screen and (max-width: 375px), (max-height: 900px) {
  .hamburger-button {
    width: 4rem;
    height: 4rem;
  }
}

@media screen and (max-width: 300px), (max-height: 660px) {
  .hamburger-button {
    width: 3.5rem;
    height: 3.5rem;
  }
}

/* Other */
.current-page {
  text-decoration: underline;
}

::selection {
  text-shadow: none;
  background-color: #361f4c;
  color: #ddd;
}

::-moz-selection {
  text-shadow: none;
  background-color: #361f4c;
  color: #ddd;
}

/* Reduced motion */
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}
