/* Sets up the font for the case files */
@font-face {
    font-family: 'Victoria Typewriter';
    src: url('/assets/fonts/VictoriaTypewriter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Rules for the page as a whole */
html {
    overflow: auto;
    overflow-x: hidden;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #171A21;
    color: white;
}

body {
    background-color: #171A21;
}

h2, h3 {
    text-decoration: underline;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-family: 'Victoria Typewriter' !important;
    color: black !important;
    text-shadow: none !important;
    font-size: 2em;
}

.caseFileHead h2 {
    font-size: 2.05em;
}

.caseFileHead h3 {
    font-size: 1.9em;
}

.caseFileBody h3 {
    font-size: 1.75em;
}

.cfButton {
    font-weight: bold;
}

#wrapper {
	display: flex;
	flex-direction: row;
    min-height: 100vh;
}



/* Rules for the sidebar that has the blurb about Aurelia and the contact info */
#sidebar {
    box-sizing: content-box;
    display: flex;
	flex-direction: column;
    align-items: center;
    padding: 10px;

    width: 15vw;
    text-align: center;
    font-size: 16px;
    color: #DDD;
    border-right: 8px solid saddlebrown;
    background-color: #171A21;
}

#sidebar, #unlockedSite {
    margin-top: 50px;
}

#backButton {
    font-size: 2em;
    /* This rule "removes" the back button, since it isn't needed if the navbar is in place */
    opacity: 0;
}

/* Removes specific coloring on links */
#backButton:link, #backButton:visited {
    color: inherit;
}

#profile {
    width: auto;
    height: 305px;
}

#aboutInfo {
    font-family: 'Victoria Typewriter';
    margin: .5em;
}

#sidebar h2 {
    font-family: 'Victoria Typewriter';
    margin-top: 5px;
    margin-bottom: 17px;
}

/*Conact Information*/
#contactInfo {
    font-size: 15px;
    padding: 0;
    margin: 0 10px;
    max-width: 100%;
    font-family: 'Victoria Typewriter';
    text-align: center;
}

#contactInfo div {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: left;
}

#contactInfo h3 {
    margin: 0;
}

#contactInfo img {
    margin-right: 10px;
    height: 25px;
    width: 30px;
    color: #DDD;
}

.CCInfo {
    padding: 0;
    margin: 0;
}



/* Rules for 'unlockedSite', the header/case files section of the page */
#unlockedSite {
    font-size: 18px;
}

#header {
    margin-left: 1em;
    width: max-content;
    color: #DDD;
}

#header h1 {
    margin-top: 25px;
    margin-bottom: 0;

    font-family: 'Victoria Typewriter';
    font-style: normal;
    font-weight: 500;
    font-size: 3.5em;
}

#header p {
    margin-top: 2px;
    padding-left: 2em;

    font-family: 'Victoria Typewriter';
    font-size: 21px;
}

#caseFile {
	display: flex;
	flex-direction: row;
	justify-content: center;
    padding: 30px 0;
    
    font-family: 'Victoria Typewriter', 'Lucida Sans', 'Verdana', sans-serif;
    color: black;
    background-color: #E2A757;
}

.caseFileHead {
	display: flex;
	flex-direction: column;
	align-items: center;
    padding: 0 10px;
    flex: 0 0 30%;

    text-align: center;
}

.caseFileHead > * {
    margin: 0;
}

.caseFileHead img {
    margin: 10px 0;
    width: 250px;
    height: 250px;
}

.caseFileHead img + h3 {
    margin-bottom: 50px;
}

.caseFileBody {
    padding-right: 30px;
}



/* Rules specifically for the folder tabs, the buttons for switching case files */
#fileNav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.cfButton {
    padding: 0;
    width: 8em;
    height: 1.6em;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-top-right-radius: 80px;
    border-top-left-radius: 80px;
    background-color: #E2A757;
}

#file2, #file3, #file4, #fileAbout {
    background-color: #674E29;
}

/* #fileAbout {
    margin-left: 1em;
} */

/* Controls how the buttons change appearance when interacted with */
.cfButton:focus {
    outline: none;
}
.cfButton:hover {
    cursor: pointer;
}
.cfButton:active {
    background-color: #FFDEB1;
}

#return {
    font-size: 30px;
}
a:link, a:visited {
    color: #fff;
}
a:link, a:hover {
    color:#e2a757;
}


/* Gradually makes portions of the site smaller as the screen gets smaller */
@media screen and (max-width: 1700px) {
    #sidebar, #contact-info {
        font-size: .70em;
    }
    #fileAbout {
        display: none;
    }
}

@media screen and (max-width: 1500px) {
    header{
        width: 100vw;
    }
    h3{
        text-align: center;
    }
    #sidebar {
        font-size: .7em;
    }

    /* text running off of the screen */
    .caseFileHead h3, .caseFileBody h3 {
        font-size: 1.5em;
    }
        
    .caseFileBody p {
        font-size: .95em;
        text-align: justify;
    }

    .cfButton {
        font-size: 1.3em;
    }
}

/* Adds rules for when the page is on the desktop layout, specifically */
@media screen and (min-width: 1401px) {
    #fileAbout {
        display: none;
    }
    /* Makes the case file look the part while the text is "loading" */
    #caseFile {
        min-width: 1000px;
        /*min-height: 400px;*/
        min-height: 1vh;
        max-height: 1275px;
    }

    #sidebar {
        display: block;
    }
    
    #file4 {
        display: none;
    }
}

/* Slightly out of order, this switches the page to a mobile friendly layout at 1400px or less
    Moves the sidebar to the bottom of the page and allowed the case file to span the screen */
@media screen and (max-width: 1400px) {
    /* this is where we disable the sidebar and enable the about me page */
    #wrapper {
        flex-direction: column-reverse;
    }

    #header {
        margin-left: auto;
        margin-right: auto;
    }

    #header p {
        padding: 0;
        text-align: center;
    }

    #caseFile {
        flex-direction: column;
        align-items: center;
        padding: 100px 15%;
    }

    #sidebar {
        display: none;
    }

    #file4 {
        display: inline;
    }

    .caseFileHead img + h3 {
        margin-bottom: 15px;
    }

    .caseFileBody {
        padding: 20px;
    }


    #sidebar {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0;
    
        width: 100vw;
        text-align: center;
        font-size: 16px;
        border-right: none;
        border-top: 8px solid saddlebrown;
    }

    #backButton {
        display: none;
    }

    #aboutInfo p{
        text-align: justify;
    }

    #contactInfo {
        margin-top: 20px;
        font-size: 1em;
    }
}

@media screen and (max-width: 900px) {
    /* 
    * header is too big
    * paragraph alignment
     */

    html {
        width: 100vw;
    }

    #header{
        text-align: center;
    }
    #header h1{
        font-size: 2.5em;
    }

    .caseFileBody p {
        text-align: justify;
    }

}

@media screen and (max-width: 800px) {
    /* screen is not filled with content */
    #header h1{
        font-size: 2.5em;
    }
    #header p {
        font-size: 1em;
    }
    .cfButton {
	    font-size: 1.2em;
    }
}

@media screen and (max-width: 700px) {
    #header h1 {
        font-size: 2.5em;
    }

    #header p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 600px) {

    html{
        width: 100%;
    }
    body {
        padding: 0;
        margin: 0;
        width: 100vw;
        height: 100vh;
    }

    #header {
        /* width: 90vw; */
        width: 100vw;
        text-align: center;
    }

    #header h1 {
        font-size: 1.9em;
        margin: 0 auto;
    }
    #header p {
        font-size: .7em;
    }

    .caseFile{
        width: 100vw;
    }

    .caseFileHead h2 {
        font-size: 1.6em;
    }

    .caseFileHead h3 {
        font-size: 1.4em;
    }

    .caseFileBody h3 {
        font-size: 1.2em;
    }

    .caseFileBody p {
        text-align: justify;
        font-size: .9em;
    }

    #sidebar {
        flex-direction: column;
        align-items: center;
    }

    #contactInfo {
        margin: 20px 0 40px;
    }

    /* Makes the file nav buttons into a collumn at a smaller screen width */
    #fileNav {
        /* flex-direction: column; */
        align-items: flex-start;
    }

    /* Override the rounded corners on the buttons */
    .cfButton {
        width: 6em;
        font-size: .93em;
    }
    /* Except for the first one*/
    #file1{
        border-top-right-radius: 80px;
        border-top-left-radius: 80px;
    }
}

@media screen and (max-width: 500px) {
    #header {
        width: 100vw;
    }

    #header h1 {
        text-align: center;
        font-size: 2em;
    }

    #header p {
        font-size: 0.6em;
    }

    #caseFile {
        padding-left: 1em;
        padding-right: 1em;
    }

    .caseFileHead h2{
        font-size: 1.75em;
    }

    .caseFileHead h3{
        font-size: 1.5em;
    }

    .caseFileBody h3{
        font-size: 1.3em;
        text-align: center;
    }

    .caseFileBody p, #aboutInfo p {
        text-align: justify;
        font-size: .75em;
    }

    #aboutInfo {
        margin: 0;
    }

    #aboutInfo h2 {
        font-size: 1.6em;
    }

    #call, #address, #mail, #other {
        padding-left: 2.1em;
    }
}

@media screen and (max-width: 400px) {
    /*
    * header too wide
    * file buttons too big
    * titles too big (may need 300px)
    */
    #header{
        width: 100vw;
    }

    #header h1 {
        text-align: center;
        font-size: 1em;
    }

    #header p {
        font-size: .5em;
    }

    .caseFileHead h2 {
        font-size: 1.5em;
    }

    .caseFileHead h3 {
        font-size: 1.2em;
    }
    .caseFileBody h3{
        font-size: 1.15em;
    }

    .cfButton{
        /* width: 5.5em; */
        font-size: .75em;
    }

    #CIHeader {
        font-size: 1.5em;
    }

    .CCInfo { 
        font-size: .9em;
    }

    #contactInfo {
        padding-right: 1.2em;
    }

    #call, #address, #mail, #other {
        padding-left: 0;
    }
}

@media screen and (max-width: 300px) {

    /* Makes the file nav buttons into a collumn at a smaller screen width */
    #fileNav {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Override the rounded corners on the buttons */
    .cfButton {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
        font-size: 1em;
    }
    
    /* Except for the first one*/
    #file1{
        border-top-right-radius: 80px;
        border-top-left-radius: 80px;
    }

    #header {
        width: 100vw;
        font-size: .5em;
        margin: 0;
    }

    #header h1 {
        padding-top: 1.5em;
        font-size: 2em;
    }

    #header p {
        font-size: 1em;
    }

    .caseFileHead {
        width: 100vw;
    }

    .caseFileHead h2 {
        font-size: 1.2em;
    }

    .caseFileHead img {
        width: 80%;
    }

    .caseFileHead h3{
        font-size: 1em;
    }

    .caseFileBody {
        padding: 0;
    }

    .caseFileBody h3{
        font-size: 1em;
    }

    .cfButton{
        width: 6em;
    }

    #contactInfo {
        margin: 0 0 40px 20px;
    }

    #contactInfo h2 {
        margin: 0;
    }

    #contactInfo div {
        margin: 0;
    }

    #contactInfo p {
        font-size: .6em;
    }
}
